<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>分析结果 - 牙病预测分析系统</title>
	<!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/userPage"><strong>牙病辅助诊断系统</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户信息 </a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置 </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> 注销 </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>

        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">


                    <li>
                        <a href="/userPage"><i class="fa fa-desktop"></i> 用户界面 </a>
                    </li>
                    <li>
                        <a href="/inputPage"><i class="fa fa-edit"></i> 数据输入 </a>
                    </li>
					<li>
                        <a class="active-menu" href="/analysisPage"><i class="fa fa-bar-chart-o"></i> 分析结果 </a>
                    </li>
                    <li>
                        <a href="/tutorialPage"><i class="fa fa-dashboard"></i> 使用说明 </a>
                    </li>

                </ul>

            </div>

        </nav>

        <!--从此以下为页面内容-->
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                            分析结果 <small> 经过机器学习模型的拟合分析，为您呈现诊断结果</small>
                </h1>
				<ol class="breadcrumb">
                    <li><h5>快速导航</h5></li>
                    <li><a href="/userPage">用户界面</a></li>
				    <li><a href="/inputPage">数据输入</a></li>
                    <li class="active">分析结果</li>
                    <li><a href="/tutorialPage">使用说明</a></li>
				</ol>

		    </div>
            <div id="page-inner">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            病人唯一标识符信息：{{ post.patientId }}
                        </div>
                        <div class="panel-body">
                            <small>{{ post.description }}</small>
                        </div>
                    </div>
                </div>
                                <!-- /. ROW  -->

		    <div class="row">
			    <div class="col-xs-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body easypiechart-panel">
                            <h4>GBT模型预测结果</h4>
                            <div class="easypiechart" id="easypiechart-blue" data-percent="{{post_data.Y_probability_gbtc}}" ><span class="percent">{{post_data.Y_probability_gbtc}}%</span>
                            </div>
                        </div>
                    </div>
			    </div>
			    <div class="col-xs-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body easypiechart-panel">
                            <h4>随机森林预测结果</h4>
                            <div class="easypiechart" id="easypiechart-orange" data-percent="{{post_data.Y_probability_rfc}}" ><span class="percent">{{post_data.Y_probability_rfc}}%</span>
                            </div>
                        </div>
                    </div>
			    </div>
			    <div class="col-xs-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body easypiechart-panel">
                            <h4>逻辑回归预测结果</h4>
                            <div class="easypiechart" id="easypiechart-teal" data-percent="{{post_data.Y_probability_lr}}" ><span class="percent">{{post_data.Y_probability_lr}}%</span>
                            </div>
                        </div>
                    </div>
                </div>
			    <div class="col-xs-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body easypiechart-panel">
                            <h4>SVM预测结果</h4>
                            <div class="easypiechart" id="easypiechart-red" data-percent="{{post_data.Y_probability_svc}}" ><span class="percent">{{post_data.Y_probability_svc}}%</span>
                            </div>
                        </div>
                    </div>
                </div>
		    </div><!--/.row-->


                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder blue">
                            <div class="panel-left pull-left blue">
                                <i class="fa fa-sitemap fa-5x"></i>
                            </div>
                            <div class="panel-right">
							    <h3>{{post_data.isAvailable}}</h3>
                                <strong> 多模型综合分析结果 </strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder blue">
                            <div class="panel-left pull-left blue">
                                <i class="fa fa-table fa-5x"></i>
                            </div>
                            <div class="panel-right">
							    <h3> {{post_data.Y_prediction_gbtreg}}mm </h3>
                                <strong> 回归模型预测Y值 </strong>
                            </div>
                        </div>
                    </div>

                </div>
                <footer><p>Copyright &copy; 2018 北京惟数科技有限公司 All rights reserved.</p></footer>
            </div>
        </div>
                <!-- /. ROW  -->
                <!-- /. ROW  -->
    </div>

     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/js/morris/morris.js"></script>


	<script src="/static/assets/js/easypiechart.js"></script>
	<script src="/static/assets/js/easypiechart-data.js"></script>

	 <script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script>


</body>
</html>