<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>牙病预测分析系统 - 数据输入</title>
	<!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="welcomePage.html"><strong>牙病辅助诊断系统</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户信息 </a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置 </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> 注销 </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>

        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">


                    <li>
                        <a href="/userPage"><i class="fa fa-desktop"></i> 用户界面 </a>
                    </li>
                    <li>
                        <a class="active-menu" href="/inputPage"><i class="fa fa-edit"></i> 数据输入 </a>
                    </li>
					<li>
                        <a href="/analysisPage"><i class="fa fa-bar-chart-o"></i> 分析结果 </a>
                    </li>
                    <li>
                        <a href="/tutorialPage"><i class="fa fa-dashboard"></i> 使用说明 </a>
                    </li>

                </ul>

            </div>

        </nav>

        <!--从此以下为页面内容-->
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                            数据输入 <small> 输入病人的数据，系统将会使用机器学习模型辅助您的诊断 </small>
                </h1>
				<ol class="breadcrumb">
                    <li><h5>快速导航</h5></li>
				    <li><a href="/userPage">用户界面</a></li>
				    <li class="active">数据输入</li>
                    <li><a href="/analysisPage">分析结果</a></li>
                    <li><a href="/tutorialPage">使用说明</a></li>
				</ol>

		    </div>
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                请输入病人各项指标
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <form role="form" method="post">
                                            <div class="form-group">
                                                <label>病人标识信息</label>
                                                <input class="form-control" placeholder="请输入病人标识号">
                                            </div>

                                            <div class="form-group">
                                                <label>X1</label>
                                                <input name="X1" class="form-control" placeholder="X1指标">
                                            </div>

                                            <div class="form-group">
                                                <label>X2</label>
                                                <input name="X2" class="form-control" placeholder="X2指标">
                                            </div>

                                            <div class="form-group">
                                                <label>X3</label>
                                                <input name="X3" class="form-control" placeholder="X3指标">
                                            </div>

                                                                        <div class="form-group">
                                                <label>X4</label>
                                                <input name="X4" class="form-control" placeholder="X4指标">
                                            </div>

                                            <div class="form-group">
                                                <label>X5</label>
                                                <input name="X5" class="form-control" placeholder="X5指标">
                                            </div>

                                                                        <div class="form-group">
                                                <label>X6</label>
                                                <input name="X6" class="form-control" placeholder="X6指标">
                                            </div>

                                            <div class="form-group">
                                                <label>X7</label>
                                                <input name="X7" class="form-control" placeholder="X7指标">
                                            </div>

                                            <div class="form-group">
                                                <label>X8</label>
                                                <input name="X8" class="form-control" placeholder="X8指标">
                                            </div>

                                            <div class="form-group">
                                                <label>X9</label>
                                                <input name="X9" class="form-control" placeholder="X9指标">
                                            </div>

                                            <div class="form-group">
                                                <label>X10</label>
                                                <input name="X10" class="form-control" placeholder="X10指标">
                                            </div>

                                            <div class="form-group">
                                                <label>X11</label>
                                                <input name="X11" class="form-control" placeholder="X11指标">
                                            </div>
                                            <input name="Analysis" type="submit" class="btn btn-default">
                                            <button type="reset" class="btn btn-default">重置</button>
                                        </form>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer><p>Copyright &copy; 2018 北京惟数科技有限公司 All rights reserved.</p></footer>
            </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
      <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script>


</body>
</html>